<link rel="stylesheet" href="../assets/css/css.css">
<!-- HEADER -->

<title>APNA food</title>
<!-- HEADER SECTTION END -->
<%- include('common/header.ejs') %>

  <!-- BODY -->
  <!-- ...................................... -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12  ht">
        <h1>WELCOME TO APNA FOOD DELIVERY</h1>
        <h3>Order food from favourite restaurants near you.</h3>
      </div>
    </div>
    <section>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 p-5 d-flex align-items-center">
            <div>
              <h1 class="text-danger">India’s Largest</h1>
              <h1>Desi Meals Brand</h1>
              <p>Irresistible meals in easy-to-carry boxes.
                All-in-1 meals, Biryanis, Curries, Parathas, Desserts & more delivered piping hot.</p>
            </div>
  
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-6 p-5">
                <img class="img-fluid w-25" src="/assets/images/meals.png" alt="image">
                <h1>2Cr+ Meals</h1>
                <p>served & we are not stopping!</p>
              </div>
  
              <div class="col-md-6 p-5">
                <img class="img-fluid w-25" src="/assets/images/stores.png" alt="image">
                <h1>120+ Stores</h1>
                <p>across Mumbai, Bangalore, Pune, Delhi-NCR & Hyderabad.
                </p>
              </div>
  
              <div class="col-md-6 p-5">
                <img class="img-fluid w-25" src="/assets/images/time.png" alt="image">
                <h1>28 Minutes</h1>
                <p>Superfast Delivery. We reach you before the hunger does.</p>
              </div>
  
              <div class="col-md-6 p-5">
                <img class="img-fluid w-25" src="/assets/images/rating.png" alt="image">
                <h1>4.3 </h1>
                <p>rated & 11000+ 5 star reviews that keep us motivated.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


 <!-- ............................................. -->

  <!-- ...................... -->
  <div class=" container-fluid text-center mt-5">
    <div class="row" id="">
      <div class="col-md-12">
        <div id="recipeCarousel-2" class="carousel slide carousel2" data-bs-ride="carouse">
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item item2 active">
              <div class="col-md-3">
                <img src="/assets/images/001.jpeg" class="img-fluid">
              </div>
            </div>
            <div class="carousel-item item2">
              <div class="col-md-3">
                <img src="/assets/images/002.jpeg" class="img-fluid">
              </div>
            </div>
            <div class="carousel-item item2">
              <div class="col-md-3">
                <img src="/assets/images/003.jpeg" class="img-fluid">
              </div>
            </div>
            <div class="carousel-item item2">
              <div class="col-md-3">
                <img src="/assets/images/004.jpeg" class="img-fluid">
              </div>
            </div>
            <div class="carousel-item item2">
              <div class="col-md-3">
                <img src="/assets/images/005.jpeg" class="img-fluid">
              </div>
            </div>
            <div class="carousel-item item2">
              <div class="col-md-3">
                <img src="/assets/images/006.jpeg" class="img-fluid">
              </div>
            </div>

            <a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel-2" role="button"
              data-bs-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> </a>

            <a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel-2" role="button"
              data-bs-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> </a>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid my-5 text-center">
    <div class="row mx-auto my-auto justify-content-center ">
      <h1 style="text-align: center;">ODER NOW</h1>
      <div class="card" style="width: 18rem;">
        <img src="/assets/images/1.jpeg" class="card-img-top">
        <a href="#">CHECK OUT</a>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/assets/images/2.jpeg" class="card-img-top" alt="...">
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/assets/images/3.jpeg" class="card-img-top" alt="...">
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/assets/images/3.jpeg" class="card-img-top" alt="...">
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/assets/images/4.jpeg" class="card-img-top" alt="...">
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/assets/images/5.jpeg" class="card-img-top" alt="...">
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/assets/images/6.jpeg" class="card-img-top" alt="...">
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/assets/images/7.jpeg" class="card-img-top" alt="...">
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/assets/images/8.jpeg" class="card-img-top" alt="...">
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/assets/images/9.jpeg" class="card-img-top" alt="...">
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/assets/images/10.jpeg" class="card-img-top" alt="...">
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/assets/images/11.jpeg" class="card-img-top" alt="...">
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/assets/images/12.jpeg" class="card-img-top" alt="...">
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/assets/images/13.jpeg" class="card-img-top" alt="...">
      </div>
    </div>
  </div>

  <div class="container-fluid ">
    <div class="col-sm-12">
      <div class="row" id="up">
        <h1>Delhi Food Delivery</h1>
        <p>Have your favorite Delhi restaurant food delivered to your door with Uber Eats. Whether you want to order
          breakfast, lunch, dinner, or a snack, Uber Eats makes it easy to discover new and nearby places to eat in
          Delhi.
          Browse tons of food delivery options, place your order, and track it by the minute.</p>

        <h2>Explore by category</h2>
        <div class="col-sm-2 my-5">
          <h4>Fast Food<img src="/assets/images/fost.png"></h4></div>
          <div class="col-sm-2  my-5">
            <h4>American Food <img src="/assets/images/110.png"></h4></div>
            <div class="col-sm-2 my-5">
              <h4>Chinese Food<img src="/assets/images/120.png"></h4></div>
              <div class="col-sm-2 my-5">
                <h4>Italian Food<img src="/assets/images/130.png"></h4></div>
                <div class="col-sm-2 my-5">  
                  <h4>Asian Food<img src="/assets/images/140.png"></h4></div>
                  <div class="col-sm-2 my-5">
                    <h4>Thai Food<img src="/assets/images/150.png"></h4></div>
                    <div class="col-sm-2 my-5">
                      <h4>Breakfast And Brunch<img src="/assets/images/160.png"></h4></div>
                      <div class="col-sm-2 my-5">
                        <h4>Fast Food<img src="/assets/images/170.png"></h4></div>
                        <div class="col-sm-2 my-5">
                          <h4>Fast Food<img src="/assets/images/180.png"></h4></div>
                        <div class="col-sm-2 my-5">
                          <h4>Fast Food<img src="/assets/images/110.png"></h4></div>
                        <div class="col-sm-2 my-5">
                          <h4>Fast Food<img src="/assets/images/130.png"></h4></div>
                        <div class="col-sm-2 my-5">
                          <h4>Fast Food<img src="/assets/images/120.png"></h4></div>
                      </div>
                    </div>
                  </div>


                  <!-- FOOTER SECTION START -->

                  <script>
                    let items1 = document.querySelectorAll('.carousel2 .item2')

                    items1.forEach((el) => {
                      const minPerSlide = 4
                      let next1 = el.nextElementSibling
                      for (var i = 1; i < minPerSlide; i++) {
                        if (!next1) {
                          // wrap carousel by using first child
                          next1 = items1[0]
                        }
                        let cloneChild = next1.cloneNode(true)
                        el.appendChild(cloneChild.children[0])
                        next1 = next1.nextElementSibling
                      }
                    })

                  </script>


                  <%- include('common/footer.ejs') %>